# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/
generated/

# Turborepo
.turbo/

# TypeScript incremental build info
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Prisma
apps/api/prisma/**/migration_lock.toml.bak

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editors / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Testing / coverage
coverage/

# Vercel
.vercel
